* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  width: 100%;
}
.header-container {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 50px;
  gap: 150px;
  padding: 0px 150px;
  align-items: center;
  z-index: 1000;
  background-color: black;
}
.header-link-container {
  display: flex;
  gap: 60px;
  align-items: center;
  color: white;
  font-size: 14px;
}
.header-logo-container {
  justify-items: start;
}
.header-logo-container img {
  width: 117.63px;
  height: 32px;
  cursor: pointer;
}

.header-element {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header-element:active {
  transform: scale(0.92);
}
.banner-container {
  position: relative;
  width: 100%;
  height: 629px;
  z-index: 1;
  top: 0;
  background-color: #0b0c10;
}
.banner-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.banner-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #0b0c10;
  opacity: 0.7;
}
.banner-text-container {
  position: absolute;
  top: 30%;
  left: 100px;
  color: white;
  text-align: center;
  z-index: 3;
  text-align: start;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.banner-text-container h1 {
  font-size: 42px;
  margin-bottom: 10px;
}
.banner-text-container p {
  font-size: 24px;
  width: 400px;
  letter-spacing: 3%;
}
.banner-nav {
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.content-container {
  display: flex;
  width: 100%;
  height: 629px;
  gap: 0px;
}
.ads-1 {
  width: 10%;
  height: 100%;
}
.ads-2 {
  width: 10%;
  height: 100%;
}
