* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 50px;
  gap: 150px;
  padding: 0px 150px;
  align-items: center;
  z-index: 1000;
  background-color: black;
}
.header-link-container {
  display: flex;
  gap: 60px;
  align-items: center;
  color: white;
  font-size: 14px;
}
.header-logo-container {
  justify-items: start;
}
.header-logo-container img {
  width: 117.63px;
  height: 32px;
  cursor: pointer;
}

.header-element {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header-element:active {
  transform: scale(0.92);
}
.container-page {
  width: 1265px;
  height: 1000px;
  background-color: #0b0c10;
}
.recommend-container {
  position: relative;
  z-index: 10;
  top: 50px;
  width: 1050px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  color: white;
}
.recommend-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  font-size: 24px;
  margin-left: 20px;
}
.recommend-menu {
  width: 120px;
  height: 24px;
  color: #007cc7;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4px;
  cursor: pointer;
}
.seeMore {
  position: absolute;
  right: 10px;
  top: 53px;
  cursor: pointer;
  color: #007cc7;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
}
.recommend-line {
  width: 120px;
  height: 2px;
  background-color: #007cc7;
}
.recommend-nav {
  position: absolute;
  display: flex;
  gap: 0px;
  z-index: 1000;
  margin-bottom: 30px;
}
.recommended-card-container {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.card-container {
  position: relative;
  width: 330px;
  height: 400px;
  background-color: #0b0c10;
  border: 2px solid #12232e;
  display: flex;
  flex-direction: column;
}
.card-img {
  margin: 16px;
  width: 298px;
  height: 171.63px;
  border-radius: 3px;
}
.card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.card-name {
  margin-top: 12px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  height: 48px;
  margin-left: 20px;
}
.card-price {
  margin-top: 12px;
  color: #007cc7;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin-left: 20px;
}
.card-location {
  margin-top: 8px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-style: normal;
  font-size: 16px;
  margin-left: 20px;
}
.container-page {
  position: relative;
  top: 0px;
  display: flex;
  gap: 0px;
  height: 100vh;
}
.img-page {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-container-page {
  width: 10%;
  height: 100%;
}
