* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 50px;
  gap: 150px;
  padding: 0px 150px;
  align-items: center;
  z-index: 1000;
  background-color: black;
}
.header-link-container {
  display: flex;
  gap: 60px;
  align-items: center;
  color: white;
  font-size: 14px;
}
.header-logo-container {
  justify-items: start;
}
.header-logo-container img {
  width: 117.63px;
  height: 32px;
  cursor: pointer;
}

.header-element {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header-element:active {
  transform: scale(0.92);
}
.news-container {
  position: relative;
  width: 1265px;
  height: 1000px;
  background-color: #0b0c10;
  color: white;
  padding: 10px;
}
.news-menu {
  width: 120px;
  height: 24px;
  color: #007cc7;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4px;
  cursor: pointer;
  flex-shrink: 0;
}
.news-line {
  width: 120px;
  height: 2px;
  background-color: #007cc7;
}
.news-nav {
  position: relative;
  display: flex;
  gap: 0px;
  z-index: 1000;
  margin-bottom: 20px;
}
.seeMore {
  position: absolute;
  right: 0;
  top: 4px;
  cursor: pointer;
  color: #007cc7;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
}
.new-text-container-leftSide {
  height: 50%;
  width: 100%;
  padding: 24px;
}
.new-text-container-leftSide :first-child {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #007cc7;
}
.new-text-container-leftSide :nth-child(2) {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 14px;
  color: white;
  line-height: 24px;
}
.new-text-user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}
.new-text-user p {
  font-size: 14px !important;
}
.new-text-container-rightSide {
  height: 50%;
  width: 60%;
  padding: 24px;
}
.new-text-container-rightSide :first-child {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #007cc7;
}
.new-text-container-rightSide :nth-child(2) {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 14px;
  color: white;
  line-height: 24px;
}
.new-text-container-rightSide :nth-child(3) {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}
.new-text-container-rightSide :nth-child(3) p {
  font-size: 14px !important;
}
.news-first-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  font-size: 24px;
}
.container-page {
  position: relative;
  top: 0;
  display: flex;
  gap: 0px;
  height: 100vh;
}
.img-page {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-container-page {
  width: 10%;
  height: 100%;
}
