* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 50px;
  gap: 150px;
  padding: 0px 150px;
  align-items: center;
  z-index: 1000;
  background-color: black;
}
.header-link-container {
  display: flex;
  gap: 60px;
  align-items: center;
  color: white;
  font-size: 14px;
}
.header-logo-container {
  justify-items: start;
}
.header-logo-container img {
  width: 117.63px;
  height: 32px;
  cursor: pointer;
}

.header-element {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header-element:active {
  transform: scale(0.92);
}
.news-container {
  position: relative;
  z-index: 11;
  width: 1265px;
  height: 100vh;
  background-color: #0b0c10;
  color: white;
  padding: 100px 10px 10px 10px;
}
.news-menu {
  width: 120px;
  height: 24px;
  color: #007cc7;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4px;
  cursor: pointer;
  flex-shrink: 0;
}
.news-line {
  width: 120px;
  height: 2px;
  background-color: #007cc7;
}
.news-nav {
  position: relative;
  display: flex;
  gap: 0px;
  z-index: 1000;
  margin-bottom: 20px;
}
.seeMore {
  position: absolute;
  right: 0;
  top: 4px;
  cursor: pointer;
  color: #007cc7;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
}
.testimonial-container {
  position: relative;
  top: 0px;
  width: 100%;
  height: 330px;
}

.testimonial-container-content {
  width: 100%;
  height: auto;
}
.testimonial-container-element {
  width: 990px;
  height: 270px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #12232e;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
}
.testimonial-container-img {
  width: 386px;
  height: 100%;
  flex-shrink: 0;
}
.testimonial-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 70%;
}

.testimonial-element-text p:first-child {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: #007cc7;
}
.testimonial-element-text p:nth-child(2) {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #007cc7;
  margin-bottom: 15px;
  margin-top: 5px;
  line-height: 100%;
}
.testimonial-element-text p:nth-child(3) {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: white;
}
.container-page {
  position: relative;
  top: 0;
  display: flex;
  gap: 0px;
  height: 100vh;
}
.img-page {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-container-page {
  width: 10%;
  height: 100%;
}
