* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 50px;
  gap: 150px;
  padding: 0px 150px;
  align-items: center;
  z-index: 1000;
  background-color: black;
}
.header-link-container {
  display: flex;
  gap: 60px;
  align-items: center;
  color: white;
  font-size: 14px;
}
.header-logo-container {
  justify-items: start;
}
.header-logo-container img {
  width: 117.63px;
  height: 32px;
  cursor: pointer;
}

.header-element {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header-element:active {
  transform: scale(0.92);
}
.container {
  position: relative;
  width: 1265px;
  height: 100vh;
  background-color: #0b0c10;
  color: white;
}
.container p {
  width: 30%;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-page {
  position: relative;
  top: 0px;
  display: flex;
  gap: 0px;
  height: 100vh;
}
.img-page {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-container-page {
  width: 10%;
  height: 100%;
}
